body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: black;
}
.container {
   background-color: white;
  width: 90%;
  max-width: 1000px;
  height: 90vh;
  border: 2px solid teal;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}


/* Home Button */
.home-btn {
  position: absolute;
  top: 20px;
  right: 30px;
}
.home-btn img {
  width: 50px;
  height: auto;
}

/* Center Content */
.content {
  text-align: center;
}
.content h1 {
  font-size: 2rem;
  color: #006666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content .coin {
  width: 90px;
  margin: 0 10px;
}

/* Start Button */
.start-btn {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  background-color: #ccffe5;
  border: 2px solid #77d7a8;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
.start-btn:hover {
  background-color: #99f0c1;
  transform: scale(1.05);
}

/* Footer */
.footer {
  width: 90%;
  position: absolute;
  bottom: 20px;
  /* left: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.footer p {
  color: #006699;
  font-size: 1rem;
}
.footer .logo {
  width: 100px;
  height: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .content h1 {
    font-size: 1.5rem;
  }
  .start-btn {
    font-size: 1.2rem;
    padding: 8px 30px;
  }
  .footer .logo {
    width: 70px;
  }
}
