body {
  font-family: "Nunito", sans-serif;
}

.option-button {
  transition: all 0.2s ease-in-out;
}

.option-button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.star.filled path {
  fill: #ffd700;
  stroke: #fdb813;
}
